main.pdf
shadedetector/target
shadedetector/.cache
shadedetector/out
result-summary.csv
ai.tecton:java-client:0.1.0.csv
shadedetector/.test-cache
shadedetector/.tmp
shadedetector/out-snakeyaml
shadedetector/out-fastjson-1.2.80
shadedetector/out-fastjson-1.2.28
shadedetector/.generated
shadedetector/out-CVE20157501-commons-collections
shadedetector/out-CVE202144228-log4j2.14.1
out**
main.out
shadedetector/results
masked-artifacts.txt
results
analyse-*.sh
target
run-on-java11.properties
run-on-java8.properties
.cache
.generated
results2
/runs/
